@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.demo{
  view-transition-name: demo-image;
}

.demo2{
  view-transition-name: demo22;
}

.demo3{
  view-transition-name: demo33;
}

@view-transition {
  navigation: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

